.App{
    margin: 4px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.navlist{
    display: flex;
    flex-direction: row;
    gap: 20px;
}